<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Main Menu</title>
</head>
<body>
    <sidebar>
        <div>
            Main Menu
        </div>
        <hr />
        <p>
            Welcome to the library
            management system.
            From here you can
            select an option, and
            then be taken to a page
            where you'll be able
            to manage whatever you
            need to.
        </p>
    </sidebar>

    <article>
        <br />
        <div>
            To continue, select an option
        </div>
        <br />
        <a href="AddBook.html">
            <button type="button" id="image-button"><img src="../icons/add_book.png" style="height:35px;vertical-align:middle;padding-right:30px;">          Add book to collection</button>
        </a>
        <br />
        <br />
        <a href="SuspendBorrower.aspx">
            <button type="button" id="image-button"><img src="../icons/suspend_borrower.png" style="height:35px;vertical-align:middle;padding-right:30px;">          Suspend Borrower</button>
            <br />
        </a>
            <br />
        <a href="CheckFines.aspx">
            <button type="button" id="image-button"><img src="../icons/check_fines.png" style="height:35px;vertical-align:middle;padding-right:30px;">          Check fines</button>
        </a>
            <br />
            <br />
        <a href="ViewLoan.html">
            <button type="button" id="image-button"><img src="../icons/loans.png" style="height:35px;vertical-align:middle;padding-right:30px;">          View loans</button>
        </a>
            <br />
            <br />
        <a href="ViewReservation.html">
            <button type="button" id="image-button"><img src="../icons/reservation.png" style="height:35px;vertical-align:middle;padding-right:30px;">          View reservations</button>
        </a>
            <br />
            <br />
        <a href="UpdatePersonalDetails.aspx">
            <button type="button" id="image-button"><img src="../icons/update_details.png" style="height:35px;vertical-align:middle;padding-right:30px;">          Update personal details</button>
        </a>
            <br />
            <br />
        <a href="MarkCopyAsReturned.aspx">
            <button type="button" id="image-button"><img src="../icons/mark_copy_as_returned.png" style="height:35px;vertical-align:middle;padding-right:30px;">          Return copy</button>
        </a>
            <br />
            <br />
        <a href="BrowseCatalogue.aspx">
            <button type="button" id="image-button"><img src="../icons/search.png" style="height:35px;vertical-align:middle;padding-right:30px;">          Search books</button>
         </a>
    </article>
</body>
</html>