<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Library System</title>
        <link rel="stylesheet" href="../styles/main.css" />
        <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    </head>
    <body class="success">
        <h1>Action Succesful!</h1>
        <div>
            <p>Performed action was executed succesfully.</p>
            <a href="Default.html">Main Menu</a>
        </div>
    </body>
</html>