<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Library System</title>
    <link rel="stylesheet" href="../styles/Reservation.css" />
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
</head>
<body>
    <article>
        <nav>
            <header>
                <h1>
                    View Reservation
                </h1>

            </header>
            <br />
            <p>User Name: </p>
            <p>Book Name: </p>
            <p>Reservation Date:</p>



        </nav>
        <br />
        <h3> Reservation Details</h3>

        <p>
            <input class="FirstTextBox" type="text" name="txtUserName" />
        </p>
        <p>
            <input class="SecondTextBox" type="text" name="txtBookName" />
        </p>
        <p>
            <input class="ThirdTextBox" type="date" name="txtReservationDate" />
        </p>


        <p>
            <button class="SecondButton" onclick="window.location.href=''">
                Main Menu
            </button>
        </p>
        <p>
            <button onclick="window.location.href='CancelReservation.html'">
                Cancel Reservation
            </button>
        </p>
        <p>

        </p>


    </article>
    





</body>
</html>