<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Library System</title>
    <link rel="stylesheet" href="../styles/ViewLoan.css" />
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
</head>

<body>
    <article>
        <nav>


            <header>
                <h1>
                    View Loan
                </h1>
            </header>
            <p>
                User First Name:
            </p>

            <p>
                User Last Name:
            </p>

        </nav>

        <p>
            <input class="FirstTextBox" type="text" name="txtUserFirstName" />
        </p>

        <p>
            <input class="SecondTextBox" type="text" name="txtUserLastName" />
        </p>
        <br>
        <input type="button" id="btnRefresh" style="width:50%;" value="Search Users" required>
        <br>
        <select name="lstUsers" size="10" style="width:50%;">
        </select>
        <p>
            <input class="SelectButton" type="button" value="Select" />
        </p>
        <p>
            <textarea class="TextArea" cols="40" rows="5" >

           </textarea>
        </p>


           
            <p>
                <button class="SecondButton" onclick="window.location.href=''">
                    Main Menu
                </button>
            </p>
        <p>
            <button class="ThirdButton" onclick="window.location.href='LoanPage.html'">
                View Loan Description
            </button>
        </p>
            


    </article>
</body>

</html>