body {
    background-color: white;
}


nav {
    border: solid;
    background-color: dodgerblue;
    color: white;
    border-width: medium;
    position: fixed;
    width: 10%;
    height: 50%;
}

input {
    position: absolute;
}



.FirstTextBox {
    margin-top: 140px;
    left: 35%;
}

article {
    border: solid;
    border-width: medium;
    position: fixed;
    width: 30%;
    height: 53%;
}

.SecondTextBox {
    margin-top: 170px;
    left: 35%;
}

.ThirdTextBox {
    margin-top: 200px;
    left: 35%;
}




.SecondButton {
    position: absolute;
    margin-top: 73%;
    left: 3%;
    background-color: dodgerblue;
    border-color: black;
    color: white;
}

.ThirdButton {
    position: absolute;
    margin-top: 73%;
    left: 30%;
    background-color: dodgerblue;
    border-color: black;
    color: white;
}
h3 {
    position: absolute;
    left: 40%;
}


