body {
    background-color: white;
}


nav {
    border: solid;
    background-color: dodgerblue;
    color: white;
    border-width: medium;
    position: fixed;
    width: 10%;
    height: 50%;
}

input {
    position: absolute;
}

.FirstTextBox {
    margin-top: 50px;
    left: 35%;
}

article {
    border: solid;
    border-width: medium;
    position: fixed;
    width: 30%;
    height: 53%;
}

.SecondTextBox {
    margin-top: 80px;
    left: 35%;
}

.ThirdTextBox {
    margin-top: 110px;
    left: 35%;
}

button {
    position: absolute;
    margin-top: 73%;
    left: 70%;
    background-color: dodgerblue;
    border-color: black;
    color: white;
}

.SecondButton {
    position: absolute;
    margin-top: 73%;
    left: 3%;
    background-color: dodgerblue;
    border-color: black;
    color: white;
}

.ThirdButton {
    position: absolute;
    margin-top: 73%;
    left: 30%;
    background-color: dodgerblue;
    border-color: black;
    color: white;
}

select {
    position: absolute;
    margin-top: 140px;
    left: 40%;
}

#btnRefresh {
    position: absolute;
    margin-top: 130px;
    left: 40%;
}
.SelectButton {
    margin-top:280px;
    left:70%;
}
.TextArea {
    position:absolute;
    margin-top:300px;
    left:40%;
}
